{% extends 'base.html' %}


    {% block title %}
    <title>Show Subject</title>
    {% endblock%}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STUDENT ROLL</th>
                <th>STUDENT NAME</th>
            </tr>

        </thead>
        <tbody>
          {% for record in data %}
            <tr>
                <td>{{record.student}}</td>
                <td>{{record.sub}}</td>
                <td>
                    <a href="{% url 'update_sub_url' record.id %}"><button class="btn btn-outline-warning btn-sm me-2">UPDATE</button></a>
                    <a href="{% url 'delete_sub_url' record.id %}"><button class="btn btn-outline-danger btn-sm">DELETE</button></a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}